<div id="footer-outer">
	<div id="footer-inner">
		<div style="float:left;margin:5px 0px 0px 0px;">
			<div style="padding:10px;padding-left:70px;margin-bottom:5px;width:295px;background:url('/img/twitter-grey.png') 10px 10px no-repeat;background-color:#444;">
				<h3>Twitter</h3>
				<a style="color:#ffffff;font-size:90%;" href="http://twitter.com/@stevesherrie">@stevesherrie</a>
			</div>
			<div style="padding:10px;padding-left:70px;margin-bottom:5px;width:295px;background:url('/img/facebook-grey.png') 15px 10px no-repeat;background-color:#444;">
				<h3>Facebook</h3>
				<span><a style="color:#ffffff;font-size:90%;" href="http://facebook.com/aerostop">http://facebook.com/aerostop</a></span>			
			</div>
			<div style="padding:10px;padding-left:70px;width:295px;background:url('/img/quora-grey.png') 15px 10px no-repeat;background-color:#444;">
				<h3>Quora</h3>
				<span><a style="color:#ffffff;font-size:90%;" href="http://www.quora.com/Steve-Sherrie">http://www.quora.com/Steve-Sherrie</a></span>			
			</div>
		</div>
		<div style="float:right;margin:5px 0px 0px 0px;">
			<div style="padding:10px;padding-left:70px;margin-bottom:5px;width:295px;background:url('/img/quora-grey.png') 15px 10px no-repeat;background-color:#444;">
				<h3>Stackoverflow</h3>
				<span><a style="color:#ffffff;font-size:90%;" href="http://stackoverflow.com/users/512524/steve">http://stackoverflow.com/users/512524/steve</a></span>			
			</div>
		</div>
	</div>
</div>
