{% extends 'layouts/%s.html' % (layout) %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<h1>Login</h1>
	
	<form id="user-login-form" class="fancy" method="POST" action="/user/login">
		<div>
			<label for="email">Email</label>
			<input name="email" type="text" value=""/>
		</div>
		<div>
			<label for="password">Password</label>
			<input name="password" type="password" value=""/>
		</div>

		<input name="password" type="hidden" value="{{redirect_to or ''}}"/>
		<input type="submit" value="Login"/>
	</form>

{% endblock %}
