div {margin:0;paddding:0;}
body {
	word-wrap: break-word;
	color:#333333;
  font-size: 16px;
  line-height: 24px;
	margin: 0;
	padding: 0;
  font-family: 'Droid Sans', sans-serif;
  background: url(/img/bg.png);
}
body img {
	border:0;
}
/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#header-outer {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}
#header-inner {
  margin: 0 auto;
  padding: 0;
	width: 760px;
  text-decoration: none;
}
#content-outer {
	background: #ffffff;
  width: 760px;
	padding: 50px 0;
	margin: 40px auto;
}
#content-inner {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}
#footer-inner {
	height: 260px;
	margin: 0 auto;
	width: 760px;
	padding: 0;
}
#footer-outer {
	border-top: 5px solid #222222;
	background: #333333;
	color: #cccccc;
	padding:0;
	margin:0;
}
li.footer-list-item {
	margin: 8px;
	display:inline;
}
.footer-list-item a, .footer-list-item a:visited {
	color: #cccccc;
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
}
ul.bare {
	list-style-type: none;
}
ul.mainnav {
  z-index: 1000;
	height: 30px;
	margin:0 auto;
	position: absolute;
	top: 50px;
	padding: 0;
	text-align:center;
	list-style-type:none;
	vertical-align: middle;
	width: 760px;
}
ul.mainnav li {
	float: left;
	margin:0 10px;
	padding: 5px 0;
	width: 70px;
	vertical-align: middle;
}

ul.mainnav li.odd {
}

ul.mainnav li.active {
	width: 80px;
	padding: 5px 0;
  text-transform: uppercase;
	background: #FF7F24;
}

ul.mainnav li a, ul.mainnav li a:visited{
	color: #333333;
	text-decoration:none;
	font-weight: bold;
	font-size: 110%;
}


/** CONTACT PAGE **/
div.contact-options-list {
}
ul.contact-options-list {
  list-style-type:none;
}
ul.contact-options-list li {
  padding:10px 10px 10px 85px;
}
ul.contact-options-list li a {
  font-size: 11px;
}

/** HEADINGS **/
h1 {
}
h2 {
}
h3 {
}

p {
}

/** style **/
.main-round-cornered {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;

  -moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
}

/** Messages **/
div.message, span.message {
	color: #333;
	display: block;
	clear: both;
	margin: .5em 0;
	line-height: 1.5em;
	padding: .6em 1.5em .6em 3.5em;
}
div.message.header-message {
  margin: 0 0 1em 0;
}
div.system, span.system {
	color: #333;
  background-color: #eeeeee;
	padding: .6em 1.5em;
}
div.error, span.error {
	background: url('/img/error.png') no-repeat 15px center #FFE4E1;
	border: 1px solid #FFC1C1;
}
div.success, span.success {
	background: url('/img/green-tick.png') no-repeat 15px center #F0FFF0;
	border: 1px solid #C1FFC1;
}
div.alert, span.alert {
	background: url('/img/alert.png') no-repeat 15px center #fffaeb;
	border: 1px solid #fff0c2;
}
div.warn, span.warn {
	background: url('/img/warn.png') no-repeat 15px center #fffaeb;
}
div.info, span.info {
	background: url('/img/info.png') no-repeat 15px center #F0F8FF;
  border: 1px solid #CAE1FF;
}


/** TABLES **/
table th {
  text-align:left;
}
table {
  
}

/** FORMS **/
label {
	display: block;
	padding: 10px 0 0 0;
}
form.fancy label {
  font-weight: bold;
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
form.fancy .form-field-note {
  font-size: 11px;
  line-height: 16px;
  vertical-align: top;
  clear: both;
  display: block;
}
.form-error {
  color: red;
  font-weight: bold;
}
input[type="checkbox"] {
	margin: 5px 0;
}
input[type="text"], input[type="password"], input.text, input.title, textarea, select {
	padding: 5px;
	background-color:#fff;
	border:1px solid #BBBBBB;
  display: block;
}
input[type=submit] {
	margin: 10px 0;
	padding: 0 5px;
}
textarea {
   font-family: inherit;
   font-size: inherit;
  resize: none;
}

form.fancy input[type=submit], input[type=submit].fancy, button.fancy {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #ccc;
    border-radius: 2px 2px 2px 2px;
    color: #111;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    list-style: none outside none;
    margin: 10px 0px;
    min-width: 46px;
    outline: medium none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
/** ORDERED AND UNORDERED LISTS **/
dl {
  margin: 15px 0;
}
dd {
  margin-left: 40px;
}

/** DEFINITION LISTS AND DIVISIONS **/
ol , ul {
  padding-left: 40px;
  margin: 15px 0;
}


/* Code Display */
div.highlighted-code-block {background-color: #F8F8FF;border-top:1px solid #E6E6FA;border-bottom:1px solid #E6E6FA;}
div.linenodiv {width:20px;padding:0 5px;}
.highlighted-code-block .c { color: #60a0b0; font-style: italic } /* Comment */
.highlighted-code-block .err { border: 1px solid #FF0000 } /* Error */
.highlighted-code-block .k { color: #007020; font-weight: bold } /* Keyword */
.highlighted-code-block .o { color: #666666 } /* Operator */
.highlighted-code-block .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlighted-code-block .cp { color: #007020 } /* Comment.Preproc */
.highlighted-code-block .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlighted-code-block .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlighted-code-block .gd { color: #A00000 } /* Generic.Deleted */
.highlighted-code-block .ge { font-style: italic } /* Generic.Emph */
.highlighted-code-block .gr { color: #FF0000 } /* Generic.Error */
.highlighted-code-block .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlighted-code-block .gi { color: #00A000 } /* Generic.Inserted */
.highlighted-code-block .go { color: #808080 } /* Generic.Output */
.highlighted-code-block .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlighted-code-block .gs { font-weight: bold } /* Generic.Strong */
.highlighted-code-block .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlighted-code-block .gt { color: #0040D0 } /* Generic.Traceback */
.highlighted-code-block .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlighted-code-block .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlighted-code-block .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlighted-code-block .kp { color: #007020 } /* Keyword.Pseudo */
.highlighted-code-block .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlighted-code-block .kt { color: #902000 } /* Keyword.Type */
.highlighted-code-block .m { color: #40a070 } /* Literal.Number */
.highlighted-code-block .s { color: #4070a0 } /* Literal.String */
.highlighted-code-block .na { color: #4070a0 } /* Name.Attribute */
.highlighted-code-block .nb { color: #007020 } /* Name.Builtin */
.highlighted-code-block .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlighted-code-block .no { color: #60add5 } /* Name.Constant */
.highlighted-code-block .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlighted-code-block .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlighted-code-block .ne { color: #007020 } /* Name.Exception */
.highlighted-code-block .nf { color: #06287e } /* Name.Function */
.highlighted-code-block .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlighted-code-block .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlighted-code-block .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlighted-code-block .nv { color: #bb60d5 } /* Name.Variable */
.highlighted-code-block .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlighted-code-block .w { color: #bbbbbb } /* Text.Whitespace */
.highlighted-code-block .mf { color: #40a070 } /* Literal.Number.Float */
.highlighted-code-block .mh { color: #40a070 } /* Literal.Number.Hex */
.highlighted-code-block .mi { color: #40a070 } /* Literal.Number.Integer */
.highlighted-code-block .mo { color: #40a070 } /* Literal.Number.Oct */
.highlighted-code-block .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlighted-code-block .sc { color: #4070a0 } /* Literal.String.Char */
.highlighted-code-block .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlighted-code-block .s2 { color: #4070a0 } /* Literal.String.Double */
.highlighted-code-block .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlighted-code-block .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlighted-code-block .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlighted-code-block .sx { color: #c65d09 } /* Literal.String.Other */
.highlighted-code-block .sr { color: #235388 } /* Literal.String.Regex */
.highlighted-code-block .s1 { color: #4070a0 } /* Literal.String.Single */
.highlighted-code-block .ss { color: #517918 } /* Literal.String.Symbol */
.highlighted-code-block .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlighted-code-block .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlighted-code-block .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlighted-code-block .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlighted-code-block .il { color: #40a070 } /* Literal.Number.Integer.Long */


