{% extends 'layouts/%s.html' % (layout)  %}


{% block title %}
	Home
{% endblock %}

{% block body %}
	<div style="width:420px;float:left;">
		<div class="h1-bg" style="background:url('/img/recent-heading.png') no-repeat;width:100%;padding-top:1px;">
			<h1 style="color:#FFFFFF;margin-left:50px;padding:0;">Recent Stuff</h1>
		</div>
		{% if not posts|count %}
			<div class="message info">There are no posts to display.</div>
		{% else %}
			{% for post in posts %}
				<div class="post-stream">
          <a title="View {{post.title}}" href="{{post.permalink()}}"><h2>{{post.title}}</h2></a>
          <span style="font-style:italic;color:#666;font-style:italic;">Posted:&nbsp;{{post.get_fancy_created_time()}}</span>
          {% if post.imgs|count %}
          <img style="width:100%;" src="{{post.imgs[0].get().url}}"/>
          {% endif %}
					<p>
            {{post.teaser}}
          </p>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div style="border:2px solid #fff0c2;background:#fffaeb;font-size:110%;width:250px;float:right;">
		<div style="margin:10px;">
			<div style="background:url('/img/help-heading.png') no-repeat;width:100%;height:50px;padding-top:15px;">
				<h3 style="color:#FFFFFF;margin-left:15px;">What am I Looking at</h3>
			</div>
			<p>This website serves as the <em>mostly</em> professional online presence of me, <strong>Steven Sherrie</strong>. To learn more about me, visit the <a style="font-weight:bold;" title="About Steve Sherrie" href="/about">About</a> page.</p>
			<p>If you'd like to get in touch with me, use the <a style="font-weight:bold;" title="Contact Me" href="/contact">Contact</a> page.</p>
		</div>
	</div>
{% endblock %}
