{% extends 'layouts/%s.html' % (layout) %}

{% block title %}
	List All Posts
{% endblock %}


{% block body %}
  <h1>List All Posts</h1>
  {% if posts|count %}
    <table width="100%">
      <tbody>
      {% for post in posts %}
      <tr>
        <td>
          {{post.title}}
        </td>
        <td>
          <a href="{{post.permalink(absolute=False)}}">View</a>
        </td>
        <td>
          <a href="/post/edit/{{post.key.id()}}">Edit</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="message alert">There are no Posts to list.</div>
  {% endif %}
{% endblock %}
