{% extends 'layouts/%s.html' % (layout) %}

{% block title %}
	Edit Post ID: {{post_id}}
{% endblock %}

{% block body %}

<h1>Edit Post ID: {{post_id}}</h1>

<div class="{{ 'success' if post.enabled else 'alert' }} message">
  <form id="post-toggle-enabled" class="fancy" method="POST" action="/post/edit/{{post_id}}">
  <table>
    <tbody>
      <tr>
        <td>
          <strong><span>This Post is {{ 'enabled' if post.enabled else 'disabled' }}.</span></strong>
          <input name="enabled" type="hidden" value="{{ '0' if post.enabled else '1' }}"/>
        </td>
        <td>
          <input type="submit" value="{{ 'Disable' if post.enabled else 'Enable' }}" style="margin-left:10px;"/>
        </td>
      </tr>
    </tbody>
  </table>
  </form>
</div>
<div style="background-color:#F8F8FF;padding:0 10px;margin-bottom:10px;border:1px solid #E6E6FA;">
  <h2>Current Permalinks</h2>
  <table style="font-size:80%;">
    <tbody>
    <tr>
      <td>
        <em>{{utils.get_config('domain')}}/post/{{post.key.id()}}</em>
      </td>
      <td>
      </td>
    </tr>
    {% for slug in post.slugs %}
      <tr>
        <td>
          <em><span style="line-height:24px;float:left;">{{utils.get_config('domain')}}/post/{{slug}}</span></em></em>
        </td>
        <td>
          <form style="float:left;" id="post-delete-slug-form" class="fancy" method="POST" action="/post/remove-slug/{{post.key.id()}}">
            <input name="slug" type="hidden" value="{{slug}}"/>
            <input type="submit" value="Remove Permalink" style="margin:0 0 0 5px;font-size:80%;"/>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h2>Add Permalink</h2>
  <form id="post-add-slug-form" class="fancy" method="POST" action="/post/add-slug/{{post.key.id()}}">
  <table >
    <tbody>
      <tr>
        <td style="font-size:80%;">
          {{utils.get_config('domain')}}/post/{{post.key.id()}}/
        </td>
        <td>
          <input name="slug" type="text" style="width:95%;" value="{{ request.POST.get('slug', '') }}"/>
        </td>
        <td>
          <input type="submit" value="Add Permalink" style="margin:0;"/>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <span class="form-field-note">Can contain up to <span style="font-weight:bold;">100</span> characters, but only lowercase letters and the hyphen (<span style="font-weight:bold;">-</span>).</span>
          {% for er in errors.get_all('slug') %}
          <span class="form-field-note form-error">{{er}}</span>
          {% endfor %}
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
  </form>
</div>
<div>
  <form id="post-edit-form" method="POST" action="/post/edit/{{post_id}}" style="width:100%;" class="fancy">
    <div style="padding:0;">
      <div>
        <label for="title">Edit Title</label>
        <span class="form-field-note">e.g. <span style="font-style:italic;">Summer Girl Beach Festival!</span></span>
        <input name="title" type="text" style="width:70%;" value="{{ request.POST.get('title')|default(post.title, True) }}"/>
        <span class="form-field-note">Can contain up to <span style="font-weight:bold;">150</span> characters of most types.</span>
        {% for er in errors.get_all('title') %}
        <span class="form-field-note form-error">{{er}}</span>
        {% endfor %}
      </div>

      <div>
        <label for="teaser">Edit Teaser</label>
        <textarea name="teaser" style="width:70%;" rows="3">{{ request.POST.get('teaser')|default(post.teaser, True) }}</textarea>
        <span class="form-field-note">Can contain up to <span style="font-weight:bold;">500</span> characters of plain text.</span>
        {% for er in errors.get_all('teaser') %}
        <span class="form-field-note form-error">{{er}}</span>
        {% endfor %}
      </div>

      <div>
        <label for="body">Edit Body</label>
        <div id="post-body-wysiwyg-toolbar" class="wysiwyg-textarea-input-toolbar"></div>
        <textarea name="body" id="post-body-wysiwyg" class="wysiwyg-textarea-input" style="width:70%;min-height:500px;"></textarea>
        <script type="text/javascript">
          _registerKick(
            'app.startEditorOnField',
            ['post-body-wysiwyg', 'post-edit-form', {{utils.json.dumps(request.POST.get('body', '')|default(post.body, True))}}]
          );
        </script>
        {% for er in errors.get_all('body') %}
        <span class="form-field-note form-error">{{er}}</span>
        {% endfor %}        
      </div>
      <input type="submit" value="Update Post"/>
    </div>
  </form>
</div>
{% endblock %}
