{% extends 'layouts/default.html' %}

{% block title %}
	Latest Posts
{% endblock %}


{% block body %}
  <h1>Latest Posts</h1>
	{% if posts|count %}
    {% for post in posts %}
      <div>
        <a href="/posts/{{post.key.id()}}/{{post.slug}}"><h2>{{post.title}}</h2></a>
        Posted:&nbsp;{{post.get_fancy_created_time()}}<br/>
        <p>{{post.teaser}}</p>
      </div>
    {% endfor %}
	{% else %}
		<div class="message info">There are no Posts to display.</div>
	{% endif %}
{% endblock %}
