{% extends 'layouts/default.html' %}

{% block title %}
	{{post.title}}
{% endblock %}


{% block head %}
  <meta property="og:type" content="article"/> 
  <meta property="og:url" content="{{post.permalink()}}"/> 
  <meta property="og:title" content="{{post.title}}"/> 
{% endblock %}

{% block body %}
	{% if post %}
    <div style="position:relative;">
      <div style="position:absolute;top:-10px;right:0px;">
        <div>
          <g:plusone size="medium" annotation="bubble"></g:plusone>
        </div>
        <div style="padding-top:3px;">
          <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
        </div>
        <div style="padding-top:3px;">
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="stevesherrie">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </div>
      </div>
      <div style="width:85%;">
        <div>
          <span style="font-style:italic;color:#666;font-style:italic;line-height:8px;">Posted:&nbsp;{{post.get_fancy_created_time()}}</span>
        </div>
        <h1>{{post.title}}</h1>
      </div>
    </div>
    <div class="full-page-post-body-layout">
      <p>{{post.parsed_body}}</p>
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'wasteofpapercom';

        // The following are highly recommended additional parameters. Remove the slashes in front to use.
        var disqus_identifier = '{{post_id}}';
        var disqus_url = {{utils.json.dumps(post.permalink())}};
        var disqus_title = {{utils.json.dumps(post.title)}};
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
	{% else %}
		<div class="message alert">There is no post with the id '{{post_id}}'</div>
	{% endif %}
{% endblock %}
