<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
	<url>
		<loc>{{utils.get_config('domain')}}/</loc>
		<priority>1</priority>
		<lastmod>2011-11-08T03:44:30+00:00</lastmod>
		<changefreq>daily</changefreq>
	</url>
	<url>
		<loc>{{utils.get_config('domain')}}/about</loc>
		<priority>1</priority>
		<lastmod>2011-11-08T03:44:30+00:00</lastmod>
		<changefreq>daily</changefreq>
	</url>
	<url>
		<loc>{{utils.get_config('domain')}}/contact</loc>
		<priority>1</priority>
		<lastmod>2011-11-08T03:44:30+00:00</lastmod>
		<changefreq>daily</changefreq>
	</url>
  {% for post in posts %}
	<url>
		<loc>{{post.permalink()}}</loc>
		<priority>1</priority>
		<lastmod>{{post.last_updated()}}</lastmod>
		<changefreq>daily</changefreq>
	</url>
  {% endfor %}
</urlset>
