<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<title>
			Bolognium | {% block title %}{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		{% block head %}
		{% endblock %}
	</head>
	<body class={{body_class}}>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', {{utils.json.dumps(utils.get_config('analytics_code', default='UA-XXXXXXXX'))}}]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <div id="content-outer" class="main-round-cornered clearfix">
      <div id="content-inner">
        <noscript>
          <div class="alert message" id="no-js-warning">
            Javascript is disabled, which is <strong>not recommended</strong>.
          </div>
        </noscript>
        <div class="header-message message alert">This is a deployment of the source code at <a alt="Bolognium Source" href="https://github.com/stevesherrie/Bolognium">https://github.com/stevesherrie/Bolognium</a>.</div>
        {% set messages = auth.get_session().get('messages', []) %}
        {% for msg in messages %}
          <div class="header-message message {{msg.type}}">{{ msg.message }}</div>
        {% endfor %}
        {% set _x = auth.clear_messages() %}
        {% block body %}{% endblock %}
        {% set logs = auth.get_session().get('log_records', []) %}
        {% for log_record in logs %}
          <span class="message system">
              <strong>{{log_record.title}}</strong>
              <pre>{{log_record.payload}}</pre>
          </span>
        {% endfor %}
        {% set x = auth.clear_log_records() %}
      </div>
    </div>
    <div id="header-outer" class="clearfix" style="position:absolute;top:0;">
      <div id="header-inner">
        {% include 'elements/mainnav.html' %}
      </div>
    </div>
	</body>	
</html>
